[submodule "xpm-torch"]
	path = xpm-torch
	url = git@github.com:experimaestro/xpm-torch.git
[submodule "datamaestro-text"]
	path = datamaestro-text
	url = git@github.com:experimaestro/datamaestro_text.git
