# Experimaestro

experimaestro>=0.10.4
datamaestro>=0.8.7
datamaestro_text>=2022.6.16

# --- SKIP_DOCBUILD ---

# Information retrieval libraries
ir-measures>=0.3.0
ir_datasets

# Torch addons
toma
pytorch-lightning
